
.mask {
    
    /* width: 1300px; */
    /* height: 541px; */
    display: flex;
    justify-content: space-around;
}

.aster-logo-white {
    width: 150px;
    height: 150px;
    margin-left: 110px;
    padding-top: 50px;
    padding-bottom: 30px;

}

.adult-paediatric-b {
    color: #FFFFFF;
    font-weight: bold;
    font-family: Titillium-bold;
    font-size: 31px;
    letter-spacing: 1.28px;
    line-height: 40px;
    width: 640px;
    text-align: left;
    margin-left: 110px;
    margin-top: 20px;
}

.haematology-oncolo {
    color: #FFFFFF;
    font-family: StagSans;
    font-size: 25px;
    letter-spacing: 3.59px;
    line-height: 34px;
    width: 599px;
    text-align: left;
    margin-left: 110px;
}

.rectangle {
    background-color: #DD5A6A;
    border-radius: 3.2px;
    width: 200px;
    height: 65px;
    margin-left: 100px;
}

.book-an-appoinment {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 14.4px;
    line-height: 17px;
    text-align: left;
    padding: 14px 5px 9px;
}

.rectangle1 {
    background-color: #FFFFFF;
    box-shadow: -4px 2px 13px 0 rgba(85, 95, 126, 0.18);
    width: 339px;
    height: 492px;
    margin-top: 26px;
    margin-bottom: 23px;
}

.enquire-now {
    color: #213559;
    font-family: StagSans;
    font-size: 20.08px;
    line-height: 24px;
    width: 127px;
    text-align: left;
    margin-left: 32px;
    padding-top: 30px;
    margin-bottom: -5px;
}

.rectangle2 {
    border: 0.87px solid #D0D0D0;
    width: 278px;
    height: 42px;
    margin-left: 32px;
    margin-top: 18px;
}

.rectangle-copy-3 {
    border: 0.87px solid #D0D0D0;
    width: 278px;
    height: 72px;
    margin-left: 32px;
    margin-top: 18px;
}

.rectangle-copy-2 {
    background-color: #FFFFFF;
    border: 0.87px solid #D0D0D0;
    width: 278px;
    height: 77px;
    display: flex;
    margin-left: 32px;
    margin-top: 18px;
}

.rectangle-5 {
    background-color: #FFFFFF;
    border: 0.87px solid #352b2b;
    border-radius: 0.87px;
    width: 18px;
    height: 18px;
    margin: 29px 30px 17px;
}

.rectangle-copy-4 {
    background-color: #DD5A6A;
    width: 111px;
    height: 44px;
    margin-left: 32px;
    margin-top: 18px;
}

.submit {
    color: #FFFFFF;
    font-family: StagSans;
    font-size: 14.84px;
    line-height: 18px;
    width: 54px;
    text-align: left;
    margin-left: 29px;
    padding-top: 15px;
}

.shutterstock-237963190 {
    width: 422px;
    height: 422px;
}

.rectangle11 {
    background-color: skyblue;
    border-radius: 4px;
    width: 586px;
    height: 95px;
}

.bone-marrow-transpla {
    color: #FFFFFF;
    font-family: StagSans;
    font-size: 18px;
    line-height: 26px;
    width: 545px;
    text-align: left;
    padding: 17px 16px 18px 25px;
}

.shutterstock {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.replacement-of-disea {
    color: #000000;
    font-family: StagSans;
    font-size: 17px;
    line-height: 20px;
    width: 532px;
    text-align: left;
    margin-top: 50px;
}

.medicines-and-in-cer {
    color: #000000;
    font-family: StagSans;
    font-size: 17px;
    line-height: 20px;
    width: 623px;
    text-align: left;
    margin-top: 45px;
}

.in-autologous-bone-m {
    color: #000000;
    font-family: StagSans;
    font-size: 17px;
    line-height: 20px;
    width: 605px;
    text-align: left;
    margin-top: 63px;
}

.doctors {
    color: #22B78E;
    font-family: StagSans;
    font-size: 31px;
    letter-spacing: 1.28px;
    line-height: 44px;
    text-align: left;
    margin-top: 50px;
}

.doctor {

    display: flex;
    justify-content: space-around;


}

.pediatric-bmt {
    margin-top: 30px;
    color: #22B78E;
    font-family: StagSans;
    font-size: 24px;
    letter-spacing: 0.99px;
    line-height: 44px;
    text-align: center;

}

.bitmap-copy {
    margin-left: 142px;
}

.dr-vijay-agarwal-copy {
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 22px;
    letter-spacing: 1.76px;
    line-height: 26px;
    text-align: center;
    padding-top: 29px;
}

.md-mrcp-ph-d-cct-le-copy {
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 15px;
    letter-spacing: 1.2px;
    line-height: 15px;
    text-align: center;


}

.line-5-copy {
    border: 1px solid #22B78E;
    width: 37px;
    height: 1px;
    margin-left: 255px;

}

.dr-vijay-agarwal-is-copy {
    color: #000000;
    font-family: StagSans;
    font-size: 15px;
    line-height: 20px;
    width: 423px;
    text-align: center;
    margin-left: 58px;
}

.rectangle9 {
    background-color: skyblue;
    border-radius: 4px;
    width: 129px;
    height: 49px;
    align-items: center;
    margin-left: 205px;

}

.know-more {
    color: #FFFFFF;
    font-family: StagSans;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 18px;
    padding-top: 15px;
    text-align: center;

}

.rectangle12 {
    background-color: #F9F9FF;
    border-radius: 4px;
    width: 539px;
    padding-bottom: 29px;
}


.line-3-copy-13 {
    border: 1px solid #ECECFF;
    width: 415px;
    height: 2px;
    margin-left: 60px;
}

.what-are-the-types-o {
    color: #22B78E;
    font-family: StagSans;
    font-size: 31px;
    letter-spacing: 1.28px;
    line-height: 44px;
    text-align: left;
    margin-top: 93px;
}

.autologous-bone-marr {
    color: #000000;
    font-family: StagSans;
    font-size: 14px;
    line-height: 39px;
    width: 1068px;
    text-align: left;
}

.autologouss {
    display: flex;
    justify-content: space-around;
}

.src1 {
    margin-top: 10px;
}

.src2 {
    margin-top: 25px;
}

.src3 {
    margin-top: 22px;
}

.src4 {
    margin-top: 22px;
}

.src5 {
    margin-top: 24px;
}

.the-warning-signs-of {
    color: #22B78E;
    font-family: StagSans;
    font-size: 31px;
    letter-spacing: 1.28px;
    line-height: 44px;
    text-align: left;
}

.rectangle13 {
    background-color: #FFFFFF;
    border: 1px solid #E5EAFF;
    border-radius: 4px;
    box-shadow: 3px 5px 29px 0 rgba(187, 165, 228, 0.1);
    width: 255px;
    height: 170px;
    margin: 15px;
}

.failure-to-thrive {
    color: #000000;
    font-family: StagSans;
    font-size: 14px;
    line-height: 21px;
    width: 198px;
    text-align: left;
    margin-left: 24px;
    margin-top: 11px;
}

.img-src {

    margin: 27px 0px 0px 24px;
}

.testimonials {
    color: #22B78E;
    font-family: StagSans;
    font-size: 31px;
    letter-spacing: 1.28px;
    line-height: 44px;
    text-align: left;
}

.rectangle21 {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 9px 8px 27px 0 rgba(0, 0, 0, 0.04);
    width: 517px;
    height: 249px;
    display: flex;
    justify-content: space-around;
    padding-top: 41px;
}

.john-doe {
    color: #000000;
    font-family: StagSans;
    font-size: 22px;
    line-height: 26px;
    text-align: left;
    margin-left: 10px;
}

.softwere-engineer {
    color: #000000;
    font-family: StagSans;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    margin-left: 10px;
    margin-top: -15px;
}

.it-is-a-long-establi {
    color: #000000;
    font-family: StagSans;
    font-size: 15px;
    font-style: italic;
    line-height: 21px;
    width: 410px;
    text-align: left;
}

.imgsss {
    display: flex;
    justify-content: start;
}

.testi1 {
    display: flex;
    justify-content: space-around;
}

.rectangle22 {
    background-color: #004498;
    border-radius: 3.81px;
    width: 221px;
    height: 54px;
    margin-left: 450px;
    margin-top: 63px;
    margin-bottom: 48px;
}

.book-an-appoinment {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 17.14px;
    line-height: 21px;
    text-align: left;
}

.rectangle31 {
    background-color: #272727;
    width: 1300px;
    height: 256px;
    margin-left: 25px;

}

.social {
    text-align: center;
    padding-top: 58px;
}

.line-4 {
    border: 1px solid rgba(255, 255, 255, 0.21);
    opacity: 0.3701869419642857;
    width: 1060px;
    height: 2px;
    margin-top: 28px;
}

.aster-cmi-all-right {
    color: #FFFFFF;
    font-family: StagSans;
    font-size: 14px;
    letter-spacing: 1.12px;
    line-height: 17px;

}


.qa1{
    display: flex;
    justify-content: space-around;
}
.qa2{
    display: flex;
    justify-content: space-around;
}
.qa3{
    display: flex;
    justify-content: space-around;
}
.qa4{
    display: flex;
    justify-content: space-around;
}
.qa5{
    display: flex;
    justify-content: space-around;
}
.qa6{
    display: flex;
    justify-content: space-around;
}
.qa7{
    display: flex;
    justify-content: space-around;
}

.path-copy1 {
    /* background-color: #1D5AA6; */
    margin-top: 10px;
    width: 15px;
    height: 10px;
  }
.path-copy2 {
    /* background-color: #1D5AA6; */
    margin-top: 15px;
    width: 15px;
    height: 10px;
  }
.path-copy3 {
    /* background-color: #1D5AA6; */
    margin-top: 38px;
    width: 15px;
    height: 10px;
  }
.path-copy4 {
    /* background-color: #1D5AA6; */
    margin-top: 38px;
    width: 15px;
    height: 10px;
  }
.path-copy5 {
    /* background-color: #1D5AA6; */
    margin-top: 38px;
    width: 15px;
    height: 10px;
  }
.path-copy6 {
    /* background-color: #1D5AA6; */
    margin-top: 38px;
    width: 15px;
    height: 10px;
  }
.path-copy7 {
    /* background-color: #1D5AA6; */
    margin-top: 45px;
    width: 15px;
    height: 10px;
  }

  .what-are-the-conditi {
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 25px;
    letter-spacing: 1.6px;
    line-height: 22px;
    width: 797px;
    text-align: left;
   
  }

  .bmt-is-the-treatment {
    color: #000000;
    font-family: StagSans;
    font-size: 14px;
    line-height: 30px;
    width: 1052px;
    text-align: left;
    margin: 50px;
  }

  .which-are-the-hemato {
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 20px;
    letter-spacing: 1.6px;
    line-height: 22px;
    width: 994px;
    text-align: left;
    margin-left: 50px;
  }

  .which-are-the-cancer {
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 20px;
    letter-spacing: 1.6px;
    line-height: 22px;
    width: 994px;
    text-align: left;
    margin-top: 30px;
    margin-left: 50px;
  }

  .do-bone-marrow-failu {
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 20px;
    letter-spacing: 1.6px;
    line-height: 22px;
    width: 994px;
    text-align: left;
    margin-top: 30px;
    margin-left: 50px;
  }

  .what-are-primary-imm {
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 20px;
    letter-spacing: 1.6px;
    line-height: 22px;
    width: 994px;
    text-align: left;
    margin-top: 30px;
    margin-left: 50px;
  }

  .which-are-the-immune {
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 20px;
    letter-spacing: 1.6px;
    line-height: 22px;
    width: 994px;
    text-align: left;
    margin-top: 30px;
    margin-left: 50px;
  }

  .what-makes-transplan {
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 20px;
    letter-spacing: 1.6px;
    line-height: 22px;
    width: 994px;
    text-align: left;
    margin-top: 30px;
    margin-left: 50px;
  }



@media only screen and (max-width: 450px){
    .mask {
        width: 400px;
        /* height: 541px; */
        display: block;
       
    }
    .aster-logo-white {
        width: 100px;
        height: 150px;
        margin-left: 20px;
        padding-top: 50px;
        padding-bottom: 30px;
    
    }
    .adult-paediatric-b {
        font-size: 20px;
        line-height: 40px;
        width: 300px;
        margin-left: 20px;
        margin-top: 20px;
    }

    
.haematology-oncolo {
    color: #FFFFFF;
    font-family: StagSans;
    font-size: 18px;
    letter-spacing: 3.59px;
    line-height: 34px;
    width:300px;
    text-align: left;
    margin-left: 20px;
}

.rectangle {
    background-color: #DD5A6A;
    border-radius: 3.2px;
    width: 186px;
    height: 45px;
    margin-left: 20px;
}
.rectangle1 {
    background-color: #FFFFFF;
    box-shadow: -4px 2px 13px 0 rgba(85, 95, 126, 0.18);
    width: 310px;
    height: 492px;
    margin-top: 26px;
    margin-bottom: 80px;

}

.rectangle2 {
    border: 0.87px solid #D0D0D0;
    width: 260px;
    height: 42px;
    margin-left: 32px;
    margin-top: 18px;
}
.rectangle-copy-3 {
    border: 0.87px solid #D0D0D0;
    width: 260px;
    height: 72px;
    margin-left: 32px;
    margin-top: 18px;
}

.rectangle-copy-2 {
   
    width: 260px;
    height: 77px;
    display: flex;
    margin-left: 32px;
    margin-top: 18px;
}
.shutterstock-237963190 {
    width: 300px;
    height: 300px;
}


.shutterstock {
    margin-top: 20px;
    display:block;
}

.rectangle11 {
    width: 310px;
    height: 100px;
}

.bone-marrow-transpla {
    width: 300px;
}

.replacement-of-disea {
    width: 300px;
    margin-top: 30px;

}
.medicines-and-in-cer {
    width: 300px;
    margin-top: 30px;
}

.in-autologous-bone-m {
    width: 300px;
    margin-top: 30px;
}

.doctor {
    display: block;

}

.rectangle12 {
    background-color: #F9F9FF;
    border-radius: 4px;
    width: 320px;
    padding-bottom: 29px;
    align-items: center;
}


.pediatric-bmt {
    margin-top: 30px;
    color: #22B78E;
    font-family: StagSans;
    font-size: 24px;
    letter-spacing: 0.99px;
    line-height: 44px;
    text-align: center;

}

.bitmap-copy {
    margin-left: 35px;
}

.dr-vijay-agarwal-copy {
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 22px;
    letter-spacing: 1.76px;
    line-height: 26px;
    text-align: center;
    padding-top: 29px;
}

.md-mrcp-ph-d-cct-le-copy {
    color: #1D5AA6;
    font-family: StagSans;
    font-size: 15px;
    letter-spacing: 1.2px;
    line-height: 15px;
    text-align: center;


}

.line-5-copy {
   
    width: 37px;
   
    margin-left: 140px;

}

.dr-vijay-agarwal-is-copy {
   
    width: 250px;
    padding-right: 50px;
   

}

.rectangle9 {
    margin-left: 90px;

}


.line-3-copy-13 {
   
    width: 200px;
   
}


.what-are-the-types-o {
   
    font-size: 18px;
    
}

.autologous-bone-marr {
    color: #000000;
    font-family: StagSans;
    font-size: 14px;
    line-height: 30px;
    width: 300px;
    text-align: left;
}

.autologouss {
    display: flex;
    justify-content:left;
}


.src1 {
    margin-top: 10px;
}

.src2 {
    margin-top: 70px;
}

.src3 {
    margin-top: 105px;
}

.src4 {
    margin-top: 132px;
}

.src5 {
    margin-top: 75px;
}

.the-warning-signs-of {

    font-size: 18px;
    letter-spacing:0.5px;
}

.what-are-the-conditi {
    width: 240px;
    margin-left: -40px;
    font-size: 20px;

  }

  .bmt-is-the-treatment {
    width: 250px;
    margin-left: -7px;
  }

  .which-are-the-hemato {
    width: 250px;
    margin-left: -30px;
  }

  .which-are-the-cancer {
    width: 250px;
    margin-left: -30px;
  }

  .do-bone-marrow-failu {
    width: 250px;
    margin-left: -30px;
  }

  .what-are-primary-imm {
    width: 250px;
    margin-left: -30px;
  }

  .which-are-the-immune {
    width: 250px;
    margin-left: -30px;
  }

  .what-makes-transplan {
      width: 250px;
    margin-left: -30px;
  }

  .it-is-a-long-establi {
    width: 210px;
    margin-left: 35px;
    margin-top: 20px;
}

.testi1 {
    display: block;
    /* justify-content: space-around; */
}


.john-doe {
  
    margin-top: 20px;
}

.rectangle{
    width: 140px;
    height: 60px;
}

.book-an-appoinment {
    margin-left: 15px;
}

.rectangle22 {
    width: 200px;
    height: 54px;
    margin-left: -1px;
    margin-left: 60px;
}

.rectangle31 {
    width: 260px;
    height: 256px;
    margin-left: 45px;
}
.line-4 {
    border: 1px solid rgba(255, 255, 255, 0.21);
    opacity: 0.3701869419642857;
    width: 220px;
    height: 2px;
}

.imgsss {
    display: flex;
    justify-content: left;
}


.rectangle21 {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 9px 8px 27px 0 rgba(0, 0, 0, 0.04);
    width: 100px;
    height: 249px;
    display: flex;
    justify-content: left;
    padding-top: 41px;
}
}
